C 0 0 "ANODE" 0 0 0 0 60 0 L
X "PIN_TEXT" "ANODE" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "CATHODE" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CATHODE" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 1600 -200 "GND" 1600 -200 0 0 60 0 R
X "PIN_TEXT" "GND" 1370 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -200 1600 -200 -1 0
C 1600 -100 "VO_(OUTPUT)" 1600 -100 0 0 60 0 R
X "PIN_TEXT" "VO_(OUTPUT)" 1370 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -100 1600 -100 -1 0
C 1600 0 "VCC" 1600 0 0 0 60 0 R
X "PIN_TEXT" "VCC" 1370 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 0 1600 0 -1 0
L 200 100 1400 100 -1 0
L 1400 -300 1400 100 -1 0
L 1400 -300 200 -300 -1 0
L 200 100 200 -300 -1 0
P "$LOCATION" "?" 1450 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

